{% extends "modern/layout.html" %}

{% block content %}

<form name = "form" method = "post" action = "/acl-save/{{ article.title }}">
	<div id = "content_title_box">
		<div class = "content_button_box">
			<div class = "content_button_box_inner">
				<button class = "btn btn_content" type = "button" onclick = "location.href = '/view/{{ article.title }}'">
					View
				</button>
				<input class = "btn btn_content" value = "Save" type = "submit">
			</div>
		</div>
		<span id = "content_title_text">{{ title }}</span>
	</div>

	<hr>

	<textarea
		name = "raw_acl_data" id = "edit_area"
		onkeydown = "editor_keydown(event)" onkeyup = "editor_keyup(event)"
		autocomplete = "off" autocorrect = "off" autocapitalize = "off" spellcheck = "false"
		ng-model-options = "{ updateOn: 'blur' }"
		autofocus
	>{{ article.raw_acl_data|safe }}</textarea>
</form>

{% endblock content %}