{% extends "modern/layout.html" %}

{% block content %}

<script src = "{{ url_for('static', path = 'editor.js') }}"></script>

<form name = "form" method = "post" action = "/edit-save/{{ article.title }}">
	<div id = "content_title_box">
		<span id = "content_title_text">{{ title }}</span>
		<div class = "content_button_box">
			<button class = "btn_content" type = "button" onclick = "location.href = '/view/{{ article.title }}'">
				Cancel
			</button>
			<input class = "btn_content" value = "Save" type = "submit">
		</div>
	</div>

	<hr>

	<div id = "editor_button_box">
		<button class = "btn_editor" type = "button" onclick = "editor_select_insert_single('_', 'Italic Text', 1, 1)">Italic</button>
		<button class = "btn_editor" type = "button" onclick = "editor_select_insert_single('__', 'Bold Text', 1, 1)">Bold</button>
		<button class = "btn_editor" type = "button" onclick = "editor_select_insert_single('`', 'Inline Code', 1, 1)">Inline Code</button>
		<button class = "btn_editor" type = "button" onclick = "editor_select_insert_single('>', 'Blockquote', 0, 1)">Blockquote</button>
		<button class = "btn_editor" type = "button" onclick = "editor_extend_link(this)">Link</button>
		<button class = "btn_editor" type = "button" onclick = "editor_extend_box('editor_special_chracters', this)">Special Characters</button>
		<button class = "btn_editor" type = "button" onclick = "editor_extend_box('editor_list', this)">List</button>
		<button class = "btn_editor" type = "button" onclick = "editor_extend_box('editor_table', this)">Table</button>
		<button class = "btn_editor" type = "button" onclick = "editor_extend_box('editor_fenced_code', this)">Fenced Code</button>
		<div id = "editor_section_box">
			<div class = "editor_section" id = "editor_link">
				<label class = "lbl_editor_section">Target page or URL:
					<input class = "text_editor_section" type = "text" id = "editor_link_target">
				</label>
				<label class = "lbl_editor_section">Text to display:
					<input class = "text_editor_section" type = "text" id = "editor_link_display">
				</label>
				<label class = "lbl_editor_section">
					<input class = "radio_editor_section" type = "radio" name = "editor_link_radio" value = "link_wiki" checked>To a wiki page
				</label>
				<label class = "lbl_editor_section">
					<input class = "radio_editor_section" type = "radio" name = "editor_link_radio" value = "link_web">To an external web page
				</label>
				<div class = "editor_section_button_box">
					<button class = "btn_editor_section" type = "button" onclick = "editor_close_section()">Cancel</button>
					<button class = "btn_editor_section" type = "button" onclick = "editor_insert_link()">Insert link</button>
				</div>
			</div>
			<div class = "editor_section" id = "editor_special_chracters">
				Special Characters
			</div>
			<div class = "editor_section" id = "editor_list">
				List
			</div>
			<div class = "editor_section" id = "editor_table">
				Table
			</div>
			<div class = "editor_section" id = "editor_fenced_code">
				Code Block
			</div>
		</div>
	</div>
	
	<textarea name = "raw_data" id = "edit_area" onkeydown = "editor_keydown(event)" onkeyup = "editor_keyup(event)" autofocus>{{ article.raw_data|safe }}</textarea>
</form>

{% endblock content %}