{% extends "modern/layout.html" %}

{% block content %}

<script src = "{{ url_for('static', path = 'editor.js') }}"></script>

<form name = "form" method = "post" action = "/edit-save/{{ article.title }}">
	<div id = "content_title_box">
		<div class = "content_button_box">
			<div class = "content_button_box_inner">
				<button class = "btn btn_content" type = "button" onclick = "location.href = '/view/{{ article.title }}'">
					Cancel
				</button>
				<input class = "btn btn_content" value = "Save" type = "submit">
			</div>
		</div>
		<span id = "content_title_text">{{ title }}</span>
	</div>

	<hr>

	<div id = "editor_button_box">
		<button class = "btn btn_editor" type = "button" onclick = "editor_italic()">Italic</button>
		<button class = "btn btn_editor" type = "button" onclick = "editor_bold()">Bold</button>
		<button class = "btn btn_editor" type = "button" onclick = "editor_inline_code()">Inline Code</button>
		<button class = "btn btn_editor" type = "button" onclick = "editor_blockquote()">Blockquote</button>
		<button class = "btn btn_editor_tab" type = "button" onclick = "editor_extend_link(this)">Link</button>
		<button class = "btn btn_editor_tab" type = "button" onclick = "editor_extend_box('editor_special_chracters', this)">Special Characters</button>
		<button class = "btn btn_editor_tab" type = "button" onclick = "editor_extend_image(this)">Image</button>
		<button class = "btn btn_editor_tab" type = "button" onclick = "editor_extend_box('editor_list', this)">List</button>
		<button class = "btn btn_editor_tab" type = "button" onclick = "editor_extend_box('editor_table', this)">Table</button>
		<button class = "btn btn_editor_tab" type = "button" onclick = "editor_extend_box('editor_fenced_code', this)">Fenced Code</button>
		<div id = "editor_section_box">
			<div class = "editor_section" id = "editor_link">
				<label class = "lbl_editor_section">Target page or URL:
					<input class = "text_editor_section" type = "text" id = "editor_link_target">
				</label>
				<label class = "lbl_editor_section">Text to display:
					<input class = "text_editor_section" type = "text" id = "editor_link_display">
				</label>
				<label class = "lbl_editor_section">
					<input class = "radio_editor_section" type = "radio" name = "editor_link_radio" value = "link_wiki" checked>To a wiki page
				</label>
				<label class = "lbl_editor_section">
					<input class = "radio_editor_section" type = "radio" name = "editor_link_radio" value = "link_web">To an external web page
				</label>
				<div class = "editor_section_button_box">
					<button class = "btn btn_editor_section" type = "button" onclick = "editor_close_section()">Cancel</button>
					<button class = "btn btn_editor_section" type = "button" onclick = "editor_insert_link()">Insert link</button>
				</div>
			</div>
			<div class = "editor_section" id = "editor_special_chracters">
				Special Characters
			</div>
			<div class = "editor_section" id = "editor_image">
				<div class = "editor_section_button_box">
					<label class = "btn btn_editor_section btn_file">Upload base64 encoded image
						<input type = "file" accept = "image/*" id = "editor_image_upload" value = "Upload">
					</label>
				</div>
				<label class = "lbl_editor_section">Image data or URL:
					<input class = "text_editor_section" type = "text" id = "editor_image_url">
				</label>
				<label class = "lbl_editor_section">Alt text:
					<input class = "text_editor_section" type = "text" id = "editor_image_alt_text">
				</label>

				<label class = "lbl_editor_section">
					<input class = "radio_editor_section" type = "radio" name = "editor_image_radio" value = "image_markdown" checked>Markdown image
				</label>
				<label class = "lbl_editor_section">
					<input class = "radio_editor_section" type = "radio" name = "editor_image_radio" value = "image_html">HTML image
				</label>
				
				<label class = "lbl_editor_section">Size:
					<input class = "text_editor_section" type = "text" id = "editor_image_size" value = "auto" disabled>
				</label>

				<div class = "editor_section_button_box">
					<button class = "btn btn_editor_section" type = "button" onclick = "editor_close_section()">Cancel</button>
					<button class="btn btn_editor_section" type="button" onclick="editor_insert_image()">Insert image</button>
				</div>
			</div>
			<div class = "editor_section" id = "editor_list">
				List
			</div>
			<div class = "editor_section" id = "editor_table">
				<label class = "lbl_editor_section">Rows:
					<input class = "text_editor_section" type = "number" id = "editor_table_rows" value = "2"  min = "1">
				</label>
				<label class = "lbl_editor_section">Columns:
					<input class = "text_editor_section" type = "number" id = "editor_table_columns" value = "3" min = "1">
				</label>
				<label class = "lbl_editor_section">
					<input class = "radio_editor_section" type = "radio" name = "editor_table_radio" value = "table_markdown" checked>Markdown table
				</label>
				<label class = "lbl_editor_section">
					<input class = "radio_editor_section" type = "radio" name = "editor_table_radio" value = "table_html_with_thead">HTML table with table header
				</label>
				<label class = "lbl_editor_section">
					<input class = "radio_editor_section" type = "radio" name = "editor_table_radio" value = "table_html_without_thead">HTML table without table header
				</label>
				<div class = "editor_section_button_box">
					<button class = "btn btn_editor_section" type = "button" onclick = "editor_close_section()">Cancel</button>
					<button class = "btn btn_editor_section" type = "button" onclick = "editor_insert_table()">Create Table</button>
				</div>
			</div>
			<div class = "editor_section" id = "editor_fenced_code">
				<label class = "lbl_editor_section">Language:
					<select class = "select_editor_section" name = "editor_fenced_code_language">
						{% for language_name, short_name in editor_data.codehilite_lexers %}
							{% if language_name != "" %}
								<option value = "{{ short_name }}">{{ language_name }}</option>
							{% else %}
								<hr>
							{% endif %}
						{% endfor %}
					</select>
				</label>
				<div class = "editor_section_button_box">
					<button class = "btn btn_editor_section" type = "button" onclick = "editor_close_section()">Cancel</button>
					<button class = "btn btn_editor_section" type = "button" onclick = "editor_insert_fenced_code()">Insert Fenced Code</button>
				</div>
			</div>
		</div>
	</div>
	
	<textarea name = "raw_data" id = "edit_area" onkeydown = "editor_keydown(event)" onkeyup = "editor_keyup(event)" autofocus>{{ article.raw_data|safe }}</textarea>
</form>

{% endblock content %}