{% extends "modern/layout.html" %}

{% block content %}

<script src = "{{ url_for('static', path = 'join.js') }}"></script>

<form id = "join_form" name = "form" method = "post" action = "/join-submit/">
	<div id = "content_title_box">
		<span id = "content_title_text">{{ title }}</span>
	</div>
	
	<hr>

	<div id = "login_box">
		<label for = "username" class = "login_label">Username</label>
		<br>

		<input type = "text" class = "login_textbox" name = "username" id = "username" required autofocus>
		<br>

		<label for = "password" class = "login_label">Password</label>
		<br>

		<input type = "password" class = "login_textbox" name = "password" id = "password" required>
		<br>

		<label for = "confirm_password" class = "login_label">Confirm password</label>
		<br>

		<input type = "password" class = "login_textbox" name = "confirm_password" id = "confirm_password" required>
		<br>

		
		<label for = "email" class = "login_label">E-mail</label>
		<br>

		<input type = "email" class = "login_textbox" name = "email" id = "email" required>
		<br>

		
		<label class = "login_label"></label>
		<br>

		<label class = "login_label"></label>
		<div class = "content_button_box">
			<div class = "content_button_box_wrapper">
				<button class = "btn_content_sub" type = "button" onclick = "location.href = '/login/'">
					Login
				</button>
			</div>
			<input class = "btn_content" type = "submit" value = "Join">
		</div>
		<br>
	</div>
	
</form>

{% endblock content %}