{% extends "modern/layout.html" %}

{% block content %}

<script src = "{{ url_for('static', path = 'join.js') }}"></script>

<form id = "join_form" name = "form" method = "post" action = "/join-submit/">
	<div id = "content_title_box">
		<span id = "content_title_text">{{ title }}</span>
	</div>
	
	<hr>

	<div id = "login_box">
		<label class = "login_label">
			Username
			<br>
			<input type = "text" id = "join_username" class = "login_textbox" name = "username" maxlength = 32 autofocus>
		</label>
		<br>

		<label class = "login_label">
			Password
			<br>
			<input type = "password" id = "join_password" class = "login_textbox" name = "password" maxlength = 32>
		</label>
		<br>

		<label class = "login_label">
			Confirm password
			<br>
			<input type = "password" id = "join_confirm_password" class = "login_textbox" name = "confirm_password" maxlength = 32></label>
		<br>
		
		<label class = "login_label">
			E-mail
			<br>
			<input type = "text" id = "join_email" class = "login_textbox" name = "email" maxlength = 256></label>
		<br>
		
		<label class = "login_label"></label>
		<br>

		<label class = "login_label"></label>
		<div class = "content_form_button_box">
			<div class = "content_form_button_box_wrapper">
				<button class = "btn btn_content_sub" type = "button" onclick = "location.href = '/login/'">
					Login
				</button>
			</div>
			<input id = "join_submit" class = "btn btn_content" type = "submit" value = "Join">
		</div>
		<br>
	</div>
	
</form>

{% endblock content %}