{% extends "modern/layout.html" %}

{% block content %}

<script src = "{{ url_for('static', path = 'login.js') }}"></script>

<form name = "form" method = "post" action = "/login-submit/">
	<div id = "content_title_box">
		<span id = "content_title_text">{{ title }}</span>
	</div>
	
	<hr>

	<div id = "login_box">
		<label class = "login_label">
			Username
			<br>
			<input type = "text" id = "login_username" class = "login_textbox" name = "username" autofocus>
		</label>
		<br>

		<label class = "login_label">
			Password
			<br>
			<input type = "password" id = "login_password" class = "login_textbox" name = "password">
		</label>
		<br>
		
		<label class = "login_label"></label>
		<br>

		<label class = "login_label">
			<input type = "checkbox" name = "keep_login" class = "login_checkbox" value = "yeah">
			<span class = "pointer_cursor">Keep me logged in</span>
		</label>
		<div class = "content_form_button_box">
			<div class = "btn_content_sub_wrapper">
				<button class = "btn btn_content" type = "button" onclick = "location.href = '/join/'">
					Join
				</button>
			</div>
			
			<input class = "btn btn_content" type = "submit" value = "Login">
		</div>
	</div>
	
</form>

{% endblock content %}