{% extends "modern/layout.html" %}

{% block content %}

<div id = "content_title_box">
	<div class = "content_button_box">
		<div class = "content_button_box_inner">
			{% if is_editable %}
				<button class = "btn btn_content" type = "button" onclick = "location.href = '/edit/{{ article.title }}'">
					{% if article.existence %}
						Edit
					{% else %}
						Create
					{% endif %}
				</button>
			{% elif article.existence and is_viewable %}
				<button class = "btn btn_content" type = "button" onclick = "location.href = '/source/{{ article.title }}'">
					View Source
				</button>
			{% endif %}
			{% if article.existence and is_viewable %}
				<button class = "btn btn_content" type = "button" onclick = "location.href = '/discuss/{{ article.title }}'">
					Discuss
				</button>
				<button class = "btn btn_content" type = "button" onclick = "location.href = '/history/{{ article.title }}'">
					History
				</button>
				{% if is_movable %}
					<button class = "btn btn_content" type = "button" onclick = "location.href = '/move/{{ article.title }}'">
						Move
					</button>
				{% endif %}
				{% if is_deletable %}
					<button class = "btn btn_content" type = "button" onclick = "location.href = '/delete/{{ article.title }}'">
						Delete
					</button>
				{% endif %}
				{% if can_change_acl %}
					<button class = "btn btn_content" type = "button" onclick = "location.href = '/acl/{{ article.title }}'">
						ACL
					</button>
				{% else %}
					<button class = "btn btn_content" type = "button" onclick = "location.href = '/acl-view/{{ article.title }}'">
						ACL
					</button>
				{% endif %}
			{% endif %}
		</div>
	</div>
	<span id = "content_title_text">{{ title }}</span>
</div>

<hr>

<div id = "content">
	{% if is_viewable %}
		{{ article.data }}
	{% else %}
		You can't read this article
	{% endif %}
</div>

{% endblock content %}