{% extends "modern/layout.html" %}

{% block content %}

<div id = "content_title_box">
	<span id = "content_title_text">{{ title }}</span>
	<div class = "content_button_box">
		<button class = "btn btn_content" type = "button" onclick = "location.href = '/edit/{{ article.title }}'">
			{% if article.existence %}
				Edit
			{% else %}
				Create
			{% endif %}
		</button>
		{% if article.existence %}
			<button class = "btn btn_content" type = "button" onclick = "location.href = '/history/{{ article.title }}'">
				History
			</button>
			<button class = "btn btn_content" type = "button" onclick = "location.href = '/delete/{{ article.title }}'">
				Delete
			</button>
		{% endif %}
	</div>
</div>

<hr>

<div id = "content">
	{{ article.data }}
</div>

{% endblock content %}