$breakpoint_mobile: 335px;
$breakpoint_tablet: 758px;
$breakpoint_desktop: 1024px;

@mixin mobile {
	@media (max-width: #{$breakpoint-tablet - 1px}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$breakpoint-desktop}) {
		@content;
	}
}

@mixin mobile_tablet {
	@include mobile { @content; }
	@include tablet { @content; }
}

@mixin tablet_desktop {
	@include tablet { @content; }
	@include desktop { @content; }
}