@use "responsive";
@use "skins/default";
@use "comacolor" as cc;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
	font-family: "D2Coding";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: "Noto Sans", "Noto Sans JP", "Noto Sans KR", sans-serif;
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: var(--doki2-bg-color-l0);
}

$center-width: 70rem;

.site-center {
	width: 100%;
	max-width: 70rem;
	margin: 0 auto;
	padding: 1rem;
	border-left: 1px solid var(--doki2-border-color);
	border-right: 1px solid var(--doki2-border-color);

	@media (max-width: $center-width) {
		border-left: none;
		border-right: none;
	}
}

header, main {
	flex-shrink: 0;
}

header, footer {
	.site-center {
		background-color: var(--doki2-bg-color-l1);
	}
}

header .site-center {
	border-bottom: 1px solid var(--doki2-border-color);
}

main .site-center  {
	background-color: var(--doki2-bg-color-l2);
}

#doki2-titlebox {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include responsive.mobile {
		flex-direction: column;
		align-items: flex-start;
	}

	#doki2-titlebox-title {
		margin: 0;
	}

	#doki2-titlebox-nav {
		@include responsive.mobile {
			align-self: flex-end;
		}

		.doki2-titlebox-nav-button {
			display: inline-flex;
			justify-content: center;
			position: relative;
			align-items: center;
			height: 2rem;
			padding: 0.5rem;
			margin: 0;
			z-index: 1;

			border: 1px solid var(--doki2-btn-border-color);
			background-color: var(--doki2-btn-bg-color);
			color: var(--doki2-link-fg-color);

			&:not(:first-child) {
				border-left-color: var(--doki2-btn-border-color-divider);
				margin-left: -1px;
			}

			&:first-child {
				border-radius: var(--doki2-btn-radius) 0 0 var(--doki2-btn-radius);
			}
			&:last-child {
				border-radius: 0 var(--doki2-btn-radius) var(--doki2-btn-radius) 0;
			}

			&:hover {
				z-index: 2;
				background-color: var(--doki2-btn-bg-color-hover);
				color: var(--doki2-link-fg-color);
			}
		}
	}
}

footer {
	flex: 1;
	flex-direction: column;

	.site-center {
		border-top: 1px solid var(--doki2-border-color);
		height: 100%;
		flex: 1;
		flex-direction: column;
		justify-content: flex-end;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

a {
	color: var(--doki2-link-fg-color);
	transition: all 0.1s;

		&:hover {
			background-color: var(--doki2-link-fg-color);
			color: var(--doki2-link-fg-color-hover);
		}

		&.ne_wikilink {
			color: var(--doki2-link-fg-color-invalid);

			&:hover {
				background-color: var(--doki2-link-fg-color-invalid);
				color: var(--doki2-link-fg-color-hover);
			}
		}
}

hr {
	background-color: var(--doki2-border-color);
	height: 1px;
	border: 0;
}

.metadata-table {
	width: 100%;
	border-collapse: collapse;

	th {
		width: 6.25rem;
		// background-color:
	}

	th, td {
		border: 1px solid var(--doki2-border-color);
		padding: 0;

		span {
			display: block;
			padding: 0.5rem;
		}
	}

	&.nested {
		margin: -1px;
		width: calc(100% + 2px);
	}
}

pre>code {
	border: 1px solid var(--doki2-border-color);
	display: block;
	padding: 1rem 1rem;
	white-space: pre-wrap;
	word-break: break-all;
}

code {
	font-family: "D2Coding", courier, monospace;
	span {
		font-family: "D2Coding", courier, monospace;
	}
}

p>code {
	background-color: cc.color(1.875, 220, 1);
	font-family: "D2Coding", courier, monospace;
	padding: 0 0.25rem;
}

#doki2-edit-textarea {
	font-family: "D2Coding", courier, monospace;
	width: 100%;
	height: 32rem;
	resize: none;
	font-size: 1rem;
	padding: 0.5rem;
	line-height: 1.5rem;
	transition: all 0.1s;
	background-color: white;
	color: black;
	border: 1px solid var(--doki2-border-color);

	&:hover {
		background-color: white;
	}

	&:focus {
		background-color: white;
		color: black;
	}
}