@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: "D2Coding";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Noto Sans", "Noto Sans JP", "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

button:hover {
  cursor: pointer;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
  cursor: pointer;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.pointer_cursor:hover {
  cursor: pointer;
}

body {
  margin: 0 auto;
  background-color: #7f7f7f;
}

header {
  background-color: #3f3f3f;
}

.btn {
  float: left;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 64px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  padding: 0 16px;
  border-style: none;
  transition: all 0.1s;
}

#header_center {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

#header_center_inner {
  padding: 16px;
}

#header_title_box {
  margin-top: 16px;
  height: 32px;
}

#header_title_text {
  width: calc(100% - 64px);
  height: 32px;
  float: left;
  font-size: 32px;
  font-weight: bold;
  line-height: 32px;
  color: #ffffff;
}

#header_menu_btn_shadow {
  width: 64px;
  height: 16px;
  top: 64px;
  right: calc((max(100%, 1280px) - 1280px) / 2 + 16px);
  position: absolute;
  background-color: #5f5f5f;
  background: linear-gradient(0deg, rgb(95, 95, 95) 0%, rgb(31, 63, 127) 100%);
}

#header_menu_box {
  display: none;
  background-color: #5f5f5f;
  margin-top: 16px;
  height: 128px;
  padding: 32px;
}

#header_search_form {
  margin-top: 16px;
}

#header_search_box {
  height: 32px;
}

#header_search_bar {
  width: calc(100% - 128px);
  height: 32px;
  padding: 0;
  padding-left: 8px;
  font-size: 16px;
  border-style: none;
  background-color: #f3f7ff;
  color: #1f3f7f;
  transition: all 0.1s;
  float: left;
  position: relative;
}

#header_search_bar:hover {
  background-color: #ffffff;
}

#header_search_bar:focus {
  background-color: #ffffff;
  color: #000000;
}

#header_search_btnbox {
  float: left;
  position: relative;
}

.btn_header {
  padding: 0;
  width: 64px;
  line-height: 16px;
  font-size: 16px;
  background-color: #3f7fff;
  color: #ffffff;
  border-right: 1px solid #9fbfff;
  vertical-align: middle;
}

.btn_header:nth-last-child(1) {
  border-right: none;
}

.btn_header:hover {
  background-color: #1f3f7f;
  color: #ffffff;
}

.btn_header img {
  padding-top: 3px;
  width: 16px;
  height: 16px;
}

section {
  background-color: #dfdfdf;
}

#section_center {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  background-color: #ffffff;
}

#section_center_inner {
  padding: 16px;
}

.content_button_box {
  float: right;
}

.content_button_box_wrapper {
  float: left;
}

#content_title_text {
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
}

.btn_content {
  float: left;
  background-color: #3f7fff;
  color: #ffffff;
  border-right: 1px solid #9fbfff;
}

.btn_content:nth-last-child(1) {
  border-right: none;
}

.btn_content:hover {
  background-color: #1f3f7f;
  color: #ffffff;
}

.btn_content_sub {
  float: left;
  background-color: #e7efff;
  color: #000000;
  border-right: 1px solid #1f3f7f;
}

.btn_content_sub:nth-last-child(1) {
  border-right: none;
}

.btn_content_sub:hover {
  background-color: #cfdfff;
}

#content h1 {
  font-size: 32px;
  border-bottom: 1px solid #7f7f7f;
}

#content h2 {
  font-size: 28px;
  border-bottom: 1px solid #7f7f7f;
}

#content h3 {
  font-size: 24px;
  border-bottom: 1px solid #7f7f7f;
}

#content h4 {
  font-size: 20px;
  border-bottom: 1px solid #7f7f7f;
}

#content h5 {
  font-size: 18px;
  border-bottom: 1px solid #7f7f7f;
}

#content h6 {
  font-size: 16px;
  border-bottom: 1px solid #7f7f7f;
}

#content hr {
  background-color: #7f7f7f;
  height: 1px;
  border: 0;
}

#content a {
  color: #3f7fff;
  transition: all 0.1s;
}

#content a:hover {
  background-color: #3f7fff;
  color: #ffffff;
}

#content a.ne_wikilink {
  color: #ff3f7f;
}

#content a.ne_wikilink:hover {
  background-color: #ff3f7f;
  color: #ffffff;
}

#content blockquote {
  border: 1px solid #6f9fff;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 16px;
  padding-right: 16px;
  border-left: 16px solid #6f9fff;
}

#content pre > code {
  border: 1px solid #6f9fff;
  display: block;
}

#content code {
  font-family: "D2Coding", courier, monospace;
}

#content p > code {
  background-color: #e7efff;
  padding: 0 4px;
}

#editor_button_box {
  width: 100%;
  margin-bottom: 16px;
}

#editor_button_box::after {
  content: "";
  display: block;
  clear: both;
}

.btn_editor {
  margin-top: 4px;
  margin-right: 4px;
  background-color: #e7efff;
  color: #000;
}

.btn_editor:nth-child(1) {
  border-left: none;
}

.btn_editor:hover {
  background-color: #cfdfff;
}

#editor_section_box {
  float: left;
  background-color: #dfdfdf;
  width: 100%;
  height: 100%;
}

.editor_section {
  display: none;
  padding: 16px;
}

.editor_section:after {
  display: block;
  content: "";
  clear: both;
}

.lbl_editor_section {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  line-height: 24px;
  font-size: 14px;
}

.text_editor_section {
  display: block;
  width: calc(100% - 18px);
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  padding: 0 8px;
  transition: all 0.1s;
  background-color: #f3f7ff;
  color: #1f3f7f;
  border: 1px solid #3f3f3f;
}

.text_editor_section:hover {
  background-color: #ffffff;
}

.text_editor_section:focus {
  background-color: #ffffff;
  color: #000000;
}

.radio_editor_section {
  float: left;
  margin: 4px 0;
  margin-right: 16px;
  border: 2px solid #3f3f3f;
  transition: 0.1s all;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.radio_editor_section:checked {
  background-color: #ffffff;
  border: 6px solid #3f7fff;
}

.editor_section_button_box {
  float: right;
  display: block;
}

.btn_editor_section {
  background-color: #3f7fff;
  color: #ffffff;
  border-right: 1px solid #99b9ff;
}

.btn_editor_section:nth-last-child(1) {
  border-right: none;
}

.btn_editor_section:hover {
  background-color: #1f3f7f;
  color: #ffffff;
}

#edit_area {
  font-family: "D2Coding", courier, monospace;
  width: calc(100% - 16px);
  height: 512px;
  resize: none;
  font-size: 16px;
  padding: 8px;
  line-height: 24px;
  transition: all 0.1s;
  background-color: #f3f7ff;
  color: #1f3f7f;
  border: 1px solid #3f3f3f;
}

#edit_area:hover {
  background-color: #ffffff;
}

#edit_area:focus {
  background-color: #ffffff;
  color: #000000;
}

#login_box {
  margin: 0 auto;
  width: 100%;
  max-width: 480px;
}

.login_label {
  line-height: 32px;
  font-size: 14px;
}

.login_textbox {
  height: 30px;
  line-height: 30px;
  padding: 0 8px;
  font-size: 14px;
  width: calc(100% - 18px);
  background-color: #f3f7ff;
  color: #1f3f7f;
  border: 1px solid #3f3f3f;
}

.login_textbox:hover {
  background-color: #ffffff;
}

.login_textbox:focus {
  background-color: #ffffff;
  color: #000000;
}

.login_checkbox {
  float: left;
  margin: 8px;
  margin-left: 0;
  margin-right: 16px;
  border: 2px solid #3f3f3f;
  transition: 0.1s all;
  width: 16px;
  height: 16px;
}

.login_checkbox:checked {
  background-color: #ffffff;
  border: 6px solid #3f7fff;
}

footer {
  width: 100%;
  height: 64px;
  background-color: #3f3f3f;
}/*# sourceMappingURL=style.css.map */