@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@font-face {
  font-family: "D2Coding";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "Noto Sans", "Noto Sans JP", "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

input, button, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

button:hover, input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
  cursor: pointer;
}

.pointer_cursor:hover {
  cursor: pointer;
}

body {
  margin: 0 auto;
  background-color: rgb(95, 95, 95);
}

header {
  background-color: rgb(63, 63, 63);
}

.btn {
  float: left;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 64px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  padding: 0 16px;
  border-style: none;
  transition: all 0.1s;
}

#header_center {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

#header_center_inner {
  padding: 16px;
}

#header_title_box {
  margin-top: 16px;
  height: 32px;
}

#header_title_text {
  width: calc(100% - 64px);
  height: 32px;
  float: left;
  font-size: 32px;
  font-weight: bold;
  line-height: 32px;
  color: rgb(255, 255, 255);
}

#header_menu_btn_shadow {
  width: 64px;
  height: 16px;
  top: 64px;
  right: calc((max(100%, 1280px) - 1280px) / 2 + 16px);
  position: absolute;
  background-color: rgb(95, 95, 95);
  background: linear-gradient(0deg, rgb(95, 95, 95) 0%, rgb(31, 63, 127) 100%);
}

#header_menu_box {
  display: none;
  background-color: rgb(95, 95, 95);
  margin-top: 16px;
  height: 128px;
  padding: 32px;
}

#header_search_form {
  margin-top: 16px;
}

#header_search_box {
  height: 32px;
}

#header_search_bar {
  width: calc(100% - 128px);
  height: 32px;
  padding: 0;
  padding-left: 8px;
  font-size: 16px;
  border-style: none;
  background-color: rgb(243, 247, 255);
  color: rgb(31, 63, 127);
  transition: all 0.1s;
  float: left;
  position: relative;
}
#header_search_bar:hover {
  background-color: rgb(255, 255, 255);
}
#header_search_bar:focus {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

#header_search_btnbox {
  float: left;
  position: relative;
}

.btn_header {
  padding: 0;
  width: 64px;
  line-height: 16px;
  font-size: 16px;
  background-color: rgb(63, 127, 255);
  color: rgb(255, 255, 255);
  border-right: 1px solid rgb(159, 191, 255);
  vertical-align: middle;
}
.btn_header:nth-last-child(1) {
  border-right: none;
}
.btn_header:hover {
  background-color: rgb(31, 63, 127);
  color: rgb(255, 255, 255);
}
.btn_header img {
  padding-top: 3px;
  width: 16px;
  height: 16px;
}

section {
  background-color: rgb(223, 223, 223);
}

#section_center {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgb(255, 255, 255);
}

#section_center_inner {
  padding: 16px;
}

@media (max-width: 757px) {
  .content_button_box {
    float: none;
    width: inherit;
    overflow: auto;
  }
  .content_button_box .btn_content {
    margin-bottom: 8px;
  }
  .content_button_box_inner {
    float: right;
  }
}
@media (min-width: 758px) and (max-width: 1023px) {
  .content_button_box {
    float: right;
    width: inherit;
    overflow: visible;
  }
  .content_button_box .btn_content {
    margin-bottom: 0px;
  }
  .content_button_box_inner {
    float: none;
  }
}
@media (min-width: 1024px) {
  .content_button_box {
    float: right;
    width: inherit;
    overflow: visible;
  }
  .content_button_box .btn_content {
    margin-bottom: 0px;
  }
  .content_button_box_inner {
    float: none;
  }
}
.content_form_button_box {
  float: right;
}

.content_form_button_box_wrapper {
  float: left;
}

#content_title_text {
  font-weight: bold;
  font-size: 32px;
  line-height: 32px;
  padding-right: 16px;
  margin: 0 auto;
}

.btn_content {
  float: left;
  background-color: rgb(63, 127, 255);
  color: rgb(255, 255, 255);
  border-right: 1px solid rgb(159, 191, 255);
}
.btn_content:nth-last-child(1) {
  border-right: none;
}
.btn_content:hover {
  background-color: rgb(31, 63, 127);
  color: rgb(255, 255, 255);
}

.btn_content_sub {
  float: left;
  background-color: rgb(231, 239, 255);
  color: rgb(0, 0, 0);
  border-right: 1px solid rgb(31, 63, 127);
}
.btn_content_sub:nth-last-child(1) {
  border-right: none;
}
.btn_content_sub:hover {
  background-color: rgb(207, 223, 255);
}

#content h1 {
  font-size: 32px;
  border-bottom: 1px solid rgb(63, 63, 63);
}
#content h2 {
  font-size: 28px;
  border-bottom: 1px solid rgb(63, 63, 63);
}
#content h3 {
  font-size: 24px;
  border-bottom: 1px solid rgb(63, 63, 63);
}
#content h4 {
  font-size: 20px;
  border-bottom: 1px solid rgb(63, 63, 63);
}
#content h5 {
  font-size: 18px;
  border-bottom: 1px solid rgb(63, 63, 63);
}
#content h6 {
  font-size: 16px;
  border-bottom: 1px solid rgb(63, 63, 63);
}
#content hr {
  background-color: rgb(63, 63, 63);
  height: 1px;
  border: 0;
}
#content a {
  color: rgb(63, 127, 255);
  transition: all 0.1s;
}
#content a:hover {
  background-color: rgb(63, 127, 255);
  color: rgb(255, 255, 255);
}
#content a.ne_wikilink {
  color: rgb(255, 63, 127);
}
#content a.ne_wikilink:hover {
  background-color: rgb(255, 63, 127);
  color: rgb(255, 255, 255);
}
#content blockquote {
  border: 1px solid rgb(111, 159, 255);
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 16px;
  padding-right: 16px;
  border-left: 16px solid rgb(111, 159, 255);
}
#content pre > code {
  border: 1px solid rgb(111, 159, 255);
  display: block;
  padding: 16px 16px;
}
#content code {
  font-family: "D2Coding", courier, monospace;
}
#content code span {
  font-family: "D2Coding", courier, monospace;
}
#content p > code {
  background-color: rgb(231, 239, 255);
  font-family: "D2Coding", courier, monospace;
  padding: 0 4px;
}
#content table {
  border-collapse: collapse;
}
#content table th, #content table td {
  border: 1px solid rgb(207, 223, 255);
  padding: 8px;
}
#content table thead tr {
  background-color: rgb(231, 239, 255);
}
#content table tbody tr {
  background-color: rgb(255, 255, 255);
}
#content table tbody tr:nth-of-type(even) {
  background-color: rgb(243, 247, 255);
}
#content div.toc {
  border: 1px solid rgb(207, 223, 255);
  width: -moz-fit-content;
  width: fit-content;
  padding: 16px;
}
#content div.toc span.toctitle {
  font-size: 24px;
}

#editor_button_box {
  width: 100%;
  margin-bottom: 16px;
}
#editor_button_box::after {
  content: "";
  display: block;
  clear: both;
}

.btn_editor {
  margin-top: 4px;
  margin-right: 4px;
  background-color: rgb(231, 239, 255);
  color: rgb(0, 0, 0);
}
.btn_editor:nth-child(1) {
  border-left: none;
}
.btn_editor:hover {
  background-color: rgb(207, 223, 255);
}
.btn_editor.btn_editor_focused {
  background-color: rgb(223, 223, 223);
}

#editor_section_box {
  float: left;
  background-color: rgb(223, 223, 223);
  width: 100%;
  height: 100%;
}

.editor_section {
  display: none;
  padding: 16px;
}
.editor_section:after {
  display: block;
  content: "";
  clear: both;
}

.lbl_editor_section {
  display: block;
  width: 100%;
  margin-bottom: 8px;
  line-height: 24px;
  font-size: 14px;
}

.text_editor_section {
  display: block;
  width: calc(100% - 18px);
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  padding: 0 8px;
  transition: all 0.1s;
  background-color: rgb(243, 247, 255);
  color: rgb(31, 63, 127);
  border: 1px solid rgb(31, 31, 31);
}
.text_editor_section:hover {
  background-color: rgb(255, 255, 255);
}
.text_editor_section:focus {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.radio_editor_section {
  float: left;
  margin: 4px 0;
  margin-right: 16px;
  border: 2px solid rgb(31, 31, 31);
  transition: 0.1s all;
  border-radius: 50%;
  width: 16px;
  height: 16px;
}
.radio_editor_section:checked {
  background-color: rgb(255, 255, 255);
  border: 6px solid rgb(63, 127, 255);
}

.select_editor_section {
  display: block;
  width: calc(100% - 18px);
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  padding: 0 8px;
  transition: all 0.1s;
  background-color: rgb(243, 247, 255);
  color: rgb(31, 63, 127);
  border: 1px solid rgb(31, 31, 31);
}
.select_editor_section:hover {
  background-color: rgb(255, 255, 255);
}
.select_editor_section:focus {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.editor_section_button_box {
  float: right;
  display: block;
}

.btn_editor_section {
  background-color: rgb(63, 127, 255);
  color: rgb(255, 255, 255);
  border-right: 1px solid rgb(159, 191, 255);
}
.btn_editor_section:nth-last-child(1) {
  border-right: none;
}
.btn_editor_section:hover {
  background-color: rgb(31, 63, 127);
  color: rgb(255, 255, 255);
}

#edit_area {
  font-family: "D2Coding", courier, monospace;
  width: calc(100% - 16px);
  height: 512px;
  resize: none;
  font-size: 16px;
  padding: 8px;
  line-height: 24px;
  transition: all 0.1s;
  background-color: rgb(243, 247, 255);
  color: rgb(31, 63, 127);
  border: 1px solid rgb(31, 31, 31);
}
#edit_area:hover {
  background-color: rgb(255, 255, 255);
}
#edit_area:focus {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

#login_box {
  margin: 0 auto;
  width: 100%;
  max-width: 480px;
}

.login_label {
  line-height: 32px;
  font-size: 14px;
}

.login_textbox {
  height: 30px;
  line-height: 30px;
  padding: 0 8px;
  font-size: 14px;
  width: calc(100% - 18px);
  background-color: rgb(243, 247, 255);
  color: rgb(31, 63, 127);
  border: 1px solid rgb(31, 31, 31);
}
.login_textbox:hover {
  background-color: rgb(255, 255, 255);
}
.login_textbox:focus {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.login_checkbox {
  float: left;
  margin: 8px;
  margin-left: 0;
  margin-right: 16px;
  border: 2px solid rgb(31, 31, 31);
  transition: 0.1s all;
  width: 16px;
  height: 16px;
}
.login_checkbox:checked {
  background-color: rgb(255, 255, 255);
  border: 6px solid rgb(63, 127, 255);
}

footer {
  width: 100%;
  height: 64px;
  background-color: rgb(63, 63, 63);
}/*# sourceMappingURL=style.css.map */