@use "sass:list";
@use "sass:math";

@use "coma";

@function base_color($scale) {
	@return coma.color_blue($scale);
}

@function neg_color($scale) {
	@return coma.color_red($scale);
}

@function bg_color($scale) {
	@return coma.color_grey($scale);
}

$base_color_025: base_color(0.25);
$base_color_05: base_color(0.5);
$base_color_075: base_color(0.75);
$base_color_1: base_color(1.0);
$base_color_125: base_color(1.25);
$base_color_15: base_color(1.5);
$base_color_175: base_color(1.75);
$base_color_1875: base_color(1.875);
$base_color_19375: base_color(1.9375);
$base_color_2: base_color(2.0);

$bg_color_0: bg_color(0.0);
$bg_color_025: bg_color(0.25);
$bg_color_05: bg_color(0.5);
$bg_color_075: bg_color(0.75);
$bg_color_1: bg_color(1.0);
$bg_color_125: bg_color(1.25);
$bg_color_15: bg_color(1.5);
$bg_color_175: bg_color(1.75);
$bg_color_1875: bg_color(1.875);
$bg_color_19375: bg_color(1.9375);
$bg_color_2: bg_color(2.0);

$neg_color_1: neg_color(1.0);

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

@font-face {
	font-family: "D2Coding";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: "Noto Sans", "Noto Sans JP", "Noto Sans KR", sans-serif;
	// color: $bg_color_0;
}

a {
	text-decoration: none;
	color: inherit;
}

input, button, textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
}

button:hover, input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
	cursor: pointer;
}

.pointer_cursor:hover {
	cursor: pointer;
}

body {
	margin: 0 auto;
	background-color: $bg_color_075;
}

header {
	background-color: $bg_color_05;
}

.btn {
	float: left;
	width: fit-content;
	min-width: 64px;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	padding: 0 16px;
	border-style: none;
	transition: all 0.1s;
}

#header_center {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
}

#header_center_inner {
	padding: 16px;
}
#header_title_box {
	margin-top: 16px;
	height: 32px;
}

#header_title_text {
	width: calc(100% - 64px);
	height: 32px;
	float: left;
	font-size: 32px;
	font-weight: bold;
	line-height: 32px;
	color: $bg_color_2;
}

#header_menu_btn_shadow {
	width: 64px;
	height: 16px;
	top: 64px;
	right: calc(calc(calc(max(100%, 1280px) - 1280px) / 2) + 16px);
	position: absolute;
	background-color: $bg_color_075;
	background: linear-gradient(0deg, $bg_color_075 0%, $base_color_05 100%);
}

#header_menu_box {
	display: none;
	background-color: $bg_color_075;
	margin-top: 16px;
	height: 128px;
	padding: 32px;
}

#header_search_form {
	margin-top: 16px;
}

#header_search_box {
	height: 32px;
}

#header_search_bar {
	width: calc(100% - 128px);
	height: 32px;
	padding: 0;
	padding-left: 8px;
	font-size: 16px;
	border-style: none;
	background-color: $base_color_19375;
	color: $base_color_05;
	transition: all 0.1s;
	float: left;
	position: relative;

	&:hover {
		background-color: $bg_color_2;
	}

	&:focus {
		background-color: $bg_color_2;
		color: $bg_color_0;
	}
}

#header_search_btnbox {
	float: left;
	position: relative;
}

.btn_header {
	padding: 0;
	width: 64px;
	line-height: 16px;
	font-size: 16px;
	background-color: $base_color_1;
	color: $bg_color_2;
	border-right: 1px solid $base_color_15;
	vertical-align: middle;

	&:nth-last-child(1) {
		border-right: none;
	}

	&:hover {
		background-color: $base_color_05;
		color: $bg_color_2;
	}

	img {
		padding-top: 3px;
		width: 16px;
		height: 16px;
	}
}

section {
	background-color: $bg_color_175;
}

#section_center {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	background-color: $bg_color_2;
}

#section_center_inner {
	padding: 16px;
}

@include coma.mobile {
	.content_button_box {
		float: none;
		width: inherit;
		overflow: auto;
		.btn_content {
			margin-bottom: 8px;
		}
	}
	.content_button_box_inner {
		float: right;
	}
}

@include coma.tablet_desktop {
	.content_button_box {
		float: right;
		width: inherit;
		overflow: visible;
		.btn_content {
			margin-bottom: 0px;
		}
	}
	.content_button_box_inner {
		float: none;
	}
}

.content_form_button_box {
	float: right;
}

.content_form_button_box_wrapper {
	float: left;
}

#content_title_text {
	font-weight: bold;
	font-size: 32px;
	line-height: 32px;
	padding-right: 16px;
	margin: 0 auto;
}

.btn_content {
	float: left;
	background-color: $base_color_1;
	color: $bg_color_2;
	border-right: 1px solid $base_color_15;

	&:nth-last-child(1) {
		border-right: none;
	}

	&:hover {
		background-color: $base_color_05;
		color: $bg_color_2;
	}
}

.btn_content_sub {
	float: left;
	background-color: $base_color_1875;
	color: $bg_color_0;
	border-right: 1px solid $base_color_05;

	&:nth-last-child(1) {
		border-right: none;
	}

	&:hover {
		background-color: $base_color_175;
	}
}

$hr_color: $bg_color_05;
$hd_line: 1px solid $hr_color;

#content {
	h1 {
		font-size: 32px;
		border-bottom: $hd_line;
	}

	h2 {
		font-size: 28px;
		border-bottom: $hd_line;
	}

	h3 {
		font-size: 24px;
		border-bottom: $hd_line;
	}

	h4 {
		font-size: 20px;
		border-bottom: $hd_line;
	}

	h5 {
		font-size: 18px;
		border-bottom: $hd_line;
	}

	h6 {
		font-size: 16px;
		border-bottom: $hd_line;
	}

	hr {
		background-color: $hr_color;
		height: 1px;
		border: 0;
	}

	a {
		color: $base_color_1;
		transition: all 0.1s;

		&:hover {
			background-color: $base_color_1;
			color: $bg_color_2;
		}

		&.ne_wikilink {
			color: $neg_color_1;

			&:hover {
				background-color: $neg_color_1;
				color: $bg_color_2;
			}
		}
	}

	blockquote {
		border: 1px solid $base_color_125;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 16px;
		padding-right: 16px;
		border-left: 16px solid $base_color_125;
	}

	pre>code {
		border: 1px solid $base_color_125;
		display: block;
		padding: 16px 16px;
	}

	code {
		font-family: "D2Coding", courier, monospace;
		span {
			font-family: "D2Coding", courier, monospace;
		}
	}

	p>code {
		background-color: $base_color_1875;
		font-family: "D2Coding", courier, monospace;
		padding: 0 4px;
	}

	table {
		border-collapse: collapse;
		th, td {
			border: 1px solid $base_color_175;
			padding: 8px;
			
		}
		thead tr {
			background-color: $base_color_1875;
		}
		tbody tr {
			background-color: $base_color_2;
			&:nth-of-type(even) {
				background-color: $base_color_19375;
			}
		}
	}

	div.toc {
		border: 1px solid $base_color_175;
		width: fit-content;
		padding: 16px;
		span.toctitle {
			font-size: 24px;
		}
	}
}

#editor_button_box {
	width: 100%;
	margin-bottom: 16px;

	&::after {
		content: '';
		display: block;
		clear: both;
	}
}

.btn_editor {
	margin-top: 4px;
	margin-right: 4px;
	background-color: $base_color_1875;
	color: $bg_color_0;

	&:nth-child(1) {
		border-left: none;
	}

	&:hover {
		background-color: $base_color_175;
	}

	&.btn_editor_focused {
		background-color: $bg_color_175;
	}
}

#editor_section_box {
	float: left;
	background-color: $bg_color_175;
	width: 100%;
	height: 100%;
}

.editor_section {
	display: none;
	padding: 16px;

	&:after {
		display: block;
		content: '';
		clear: both;
	}
}

.lbl_editor_section {
	display: block;
	width: 100%;
	margin-bottom: 8px;
	line-height: 24px;
	font-size: 14px;
}

.text_editor_section {
	display: block;
	width: calc(100% - 18px);
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	padding: 0 8px;
	transition: all 0.1s;
	background-color: $base_color_19375;
	color: $base_color_05;
	border: 1px solid $bg_color_025;

	&:hover {
		background-color: $bg_color_2;
	}

	&:focus {
		background-color: $bg_color_2;
		color: $bg_color_0;
	}
}
.radio_editor_section {
	float: left;
	margin: 4px 0;
	margin-right: 16px;
	border: 2px solid $bg_color_025;
	transition: 0.1s all;
	border-radius: 50%;
	width: 16px;
	height: 16px;

	&:checked {
		background-color: $bg_color_2;
		border: 6px solid $base_color_1;
	}
}

.select_editor_section {
	display: block;
	width: calc(100% - 18px);
	height: 30px;
	line-height: 30px;
	font-size: 14px;
	padding: 0 8px;
	transition: all 0.1s;
	background-color: $base_color_19375;
	color: $base_color_05;
	border: 1px solid $bg_color_025;

	&:hover {
		background-color: $bg_color_2;
	}

	&:focus {
		background-color: $bg_color_2;
		color: $bg_color_0;
	}
}

.editor_section_button_box {
	float: right;
	display: block;
}

.btn_editor_section {
	background-color: $base_color_1;
	color: $bg_color_2;
	border-right: 1px solid $base_color_15;

	&:nth-last-child(1) {
		border-right: none;
	}

	&:hover {
		background-color: $base_color_05;
		color: $bg_color_2;
	}
}

#edit_area {
	font-family: "D2Coding", courier, monospace;
	width: calc(100% - 16px);
	height: 512px;
	resize: none;
	font-size: 16px;
	padding: 8px;
	line-height: 24px;
	transition: all 0.1s;
	background-color: $base_color_19375;
	color: $base_color_05;
	border: 1px solid $bg_color_025;

	&:hover {
		background-color: $bg_color_2;
	}

	&:focus {
		background-color: $bg_color_2;
		color: $bg_color_0;
	}
}

#login_box {
	margin: 0 auto;
	width: 100%;
	max-width: 480px;
}

.login_label {
	line-height: 32px;
	font-size: 14px;
}

.login_textbox {
	height: 30px;
	line-height: 30px;
	padding: 0 8px;
	font-size: 14px;
	width: calc(100% - 18px);
	background-color: $base_color_19375;
	color: $base_color_05;
	border: 1px solid $bg_color_025;

	&:hover {
		background-color: $bg_color_2;
	}

	&:focus {
		background-color: $bg_color_2;
		color: $bg_color_0;
	}
}

.login_checkbox {
	float: left;
	margin: 8px;
	margin-left: 0;
	margin-right: 16px;
	border: 2px solid $bg_color_025;
	transition: 0.1s all;
	width: 16px;
	height: 16px;

	&:checked {
		background-color: $bg_color_2;
		border: 6px solid $base_color_1;
	}
}

footer {
	width: 100%;
	height: 64px;
	background-color: $bg_color_05;
}